<h1>A NodeJS View</h1>
<p>
    {{email.email}}
</p> 
<form action="/" method="post">
    <input type="text" name="firstName">
    <input type="text" name="lastName">
    <input type="email" name="email">
    <input type="password" name="password">
    <button type="submit">Submit</button>
</form>